<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles.css">

</head>

<body>
    <h1>Welcome</h1>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= user.name %>
            </li>
            <% }); %>
    </ul>
    <form id="myForm" method="POST" action="/users">
        <input type="text" name="name" placeholder="Enter user name" required />
        <button type="submit">Create the User</button>
    </form>

    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            event.preventDefault();
            console.log(event.target.value)
            const form = event.target;
            const formData = new FormData(form);
            console.log(formData)
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body:JSON.stringify({name: formData.get('name')}),
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Form submitted successfully!');
                    } else {
                        console.error('Form submission failed:', response.status);
                    }
                })
        });

    </script>
</body>

</html>